<div class="navbar-fixed-bottom" align="center">
  <p>
    <a href="contactus">联系我们</a>
    <a href="contactus">关于</a>
    <a href="contactus">法律声明</a>
  </p>
  <p align="center">
    2014 pku ubicomp版权所有
  </p>
</div>