<div class="footer navbar-static-bottom">
  <div class="container">
    <p>
    <a href="contactus">联系我们</a>
    <a href="contactus">关于</a>
    <a href="contactus">法律声明</a>
    </p>
    <p></br>
    <%= Date.current.year %> Peking University &amp; Ubicomp
    </p>
  </div>
</div>

<script src="http://cdn.bootcss.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
