<!-- Fixed navbar -->
<div class="navbar navbar-fixed-top" role="navigation">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to '',pages_index_path,:class => "navbar-brand"%>
      <div class="pull-left">
        <span class="logo-text">你生活的智能代理</span>
      </div>
      <ul class="nav navbar-nav pull-right">
        <% if login? %>

        <% else %>
          <li>
          <a href="#">登陆</a>
          </li>
          <li class="or">
          <span>还是</span>
          </li>
          <li>
          <a href="#">注册</a>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div><!--/.nav-collapse -->


