<% 
  if resource == :sensor 
    param_name = :condition
    urlpath = buildsensor_path
  else 
    param_name = :params
    urlpath = buildactuator_path
  end %>

  <%= form_for param_name, url: urlpath, remote: true do |f| %>
    <% labels.each do |k, v| %>
      <div class="form-group">
        <%= f.label v %>
        <%= f.text_field k, class: 'form-control' %>
      </div>
    <% end %>
    <div class="modal-footer">
      <button class="btn" data-dismiss="modal" aria-hidden="true">取消</button>
      <%= f.submit '确定', class: "btn btn-primary" %>
    </div>
  <% end %>

