<div class="resources-body">

  <% if resources %>
    <% resources.each_index do |i| %>
      <div class="resource-block resource-block-<%= i  %>">
        <figure> 
        <% content = "" %>
        <% identifications[i].each do |k,v| %>
          <% content +=  k.to_s + ":" + v.to_s + "\n" %>
        <% end %>
				<% if resource_name == '传感器' %>
        	<%= link_to image_tag('sensor'+(i+1).to_s+'.png'), resources[i], remote: true, class: 'resource-img', "data-toggle" => "popover", title: resources[i].name, "data-content" => content, 'data-placement' => '' %>
        <% else %>
					<%= link_to image_tag('actuator'+(i+1).to_s+'.png'), resources[i], remote: true, class: 'resource-img', "data-toggle" => "popover", title: resources[i].name, "data-content" => content, 'data-placement' => '' %>
				<% end %>
				<figcaption>
        <span><%= resources[i].name %></br></span>
        </figcaption>
        </figure>
      </div>
    <% end %>
  <% end %>
</div>

